<div class="container" >
  <div class="row">
    <div
      *ngFor="let character of characters"
      class="col-12 col-sm-6 col-md-4 col-lg-3"
    >
      <div class="card mb-4 border-card">
        <div
          class="d-flex justify-content-center align-items-center"
          style="height: 200px"
        >
          <img
            [src]="character.image"
            alt="{{ character.name }}"
            class="card-img-top"
          />
        </div>
        <div class="card-body" style="height: 190px">
          <h5 class="card-title">{{ character.name }}</h5>
          <!-- Alive or dead -->
          <p class="card-text">Status: {{ character.status }}</p>
          <!-- Human or not -->
          <p class="card-text">Species: {{ character.species }}</p>
          <!-- Location -->
          <p class="card-text">Location: {{ character.location.name }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
