.title-with-line {
  display: flex;
  align-items: center;
}

.title-text {
  font-size: 40px;
  margin-right: 10px;
  color: white;
  font-weight: bold;
}

.line {
  flex-grow: 1;
  border-top: 2px solid #bed464;
  content: "";
}


.card-img-top {
  position: absolute;
  top: -25px;
  border-radius: 50%;
  width: 180px;
  height: 180px;

}

.border-card {
  border: 3px solid #bed464;
}

.card {
  background-color: #0d7c85;
  color: white;
  margin-top: 80px;
}


