.logo-container {
  text-align: center;
}

.logo-container img {
  max-width: 100%;
  height: auto;
}

.title-with-line {
  display: flex;
  align-items: center;
}

.title-text {
  font-size: 40px;
  margin-right: 10px;
  color: white;
  font-weight: bold;
}

.line {
  flex-grow: 1;
  border-top: 2px solid #bed464;
  content: "";
}

.card-img-top {
  position: absolute;
  top: -25px;
  border-radius: 50%;
  width: 180px;
  height: 180px;
}

.border-card {
  border: 3px solid #bed464;
}

.card {
  background-color: #0d7c85;
  color: white;
  margin-top: 80px;
}



/* Add this CSS in your component's CSS file or global CSS */
 .scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  border-radius: 50%;
  background-color: #29b7c4;

}

/* Define the initial position for the arrow */
.fa-arrow-up {
  position: relative;
  transition: transform 0.3s ease;

}

/* Define the hover effect to move the arrow when hovered */
.fa-arrow-up:hover {
  transform: translateY(-5px); /* Move the arrow icon 5 pixels up when hovered */
}

